<div class="box">
    <% #provide(:name, 'All users') %>
        <h2 class="box-title">Wantアイテムランキング</h1>
        <div class="row">
            <div>
                <ul class="col-md-6 col-md-offset-3 media-list">
                    <% i=1 %>
                    <% @ranking.each do |ranking| %>
                         <ol>
                             <% if ranking.small_image.present? %>
                             <div><%= i %> <%= link_to(image_tag(ranking.small_image, {alt: ranking.title}), ranking.detail_page_url, :target=>["_blank"] ) %></div>
                             <div><%= ranking.title%></div>
                             <% else %>
                             <div><%= i %> <%= image_tag("no-image.png" , {alt: ranking.title}) %></div>
                             <div><%= ranking.title%></div>
                             <% end %>
                         </ol>
                         <hr/>
                    <% i = i +1  %>
                    <% end %>
                </ul>
            </div>
        </div>
</div>